.input {
  position: relative;
  top: 10%;
  text-align: center;
}
.text {
  text-align: center;
  margin: 15% 0;
  font-weight: 600;
  font-size: 18px;
}
input {
  width: 60%;
  height: 28px;
  border-radius: 1px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid rgba(90, 97, 103, 1);
}

input::placeholder {
  font-size: 15px;
}

input .active {
  border-bottom: 1px solid #689dff;
}

.auto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12%;
  flex-direction: column;
}

.result {
  margin: 5px 0;
  display: flex;
  width: 60%;
  height: 28px;
  justify-content: space-between;
  cursor: pointer;
}

.result:hover {
  background-color: rgba(90, 97, 103, 0.1);
}

.result .name {
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
}

.result img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10%;
  height: 100%;
}

/*  ================슬라이더 */
.slider {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  box-shadow: rgba(90, 97, 103, 0.2) 0px 2px 8px 0px;
}

.wrapper {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card {
  background-color: white;
  border-radius: 20px;
  width: 10000px;
  position: relative;
  display: flex;
  transition: left 0.5s ease-out;
  left: 00px;
}

.one,
.two,
.three {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: all 10s;
  position: relative;
}

.one::before,
.two::before {
  content: '';
  /* background: url('../../images/bootcampBG.png') no-repeat center; */

  opacity: 0.1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.img_auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.img_auth img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 90%;
  top: 35%;
}

img {
  user-select: none;
}

.img_auth .disable {
  cursor: not-allowed;
  pointer-events: none;
}

.two small {
  font-size: 11px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -10%;
  opacity: 0.5;
}

.img_btn {
  position: absolute;
  bottom: 5%;
  background-color: #689dff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  padding: 10px 50px;
  margin: 25px;
  font-size: 14px;
  left: 0;
  right: 0;
}

.img_btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.three .img_btn {
}

.alert {
  color: red;
  font-size: 11px;
  text-align: center;
}

.msg {
  position: relative;
  top: -5%;
  margin: 0px;
  /* border: 1px solid black; */
}

.loadingspinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #3e67ec;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  position: relative;
  z-index: 999;
  margin: 100px;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
